body{
    color: aliceblue;
    background-color:black;
}

span
{
    font-size: 30px;
}

#camera , #result {
border: 3px dotted black;
width: 350px;
height: 300px;
}

#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
